table {
	border: 3px solid slategray;
}

td:hover {
	background-color: firebrick;
	color: black;
}

tr, th {
	background-color: black;
	color: silver;
}

tr, td {
	background-color: snow;
	color: dimgrey;
	
